<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>